@import "react-toggle.css";

// colors
$spotify-green: #1db954;
$spotify-black: #191414;

body.light-mode {
  background-color: white;
  color: $spotify-black;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: $spotify-black;
  color: white;
  a {
    color: $spotify-green;
  }
  .recent-tracks,
  .top-tracks,
  .top-artists {
    border: 1px solid $spotify-green;
    padding: 1rem;
  }
}

.Header {
  display: flex;
  margin: auto;

  .title {
    justify-content: flex-start;
  }
  .dark-mode-toggler {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    height: 1rem;
    width: 20%;
    margin-left: auto;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div,
button {
  margin: 15px;
}

.list-of-tracks {
  display: flex;
  margin: auto;
  justify-content: center;
}

.recent-tracks,
.top-tracks,
.top-artists {
  border: 1px solid;
  padding: 1rem;
}

.top-artists-table {
  text-align: center;
}

.bnp {
  text-align: left;
}

.bnp-tracks {
  margin: 0;
}
